<ng-container [formGroup]="users">
  <div class="rows">
    <table class="table">
      <thead>
      <tr>
        <th class="table-column-small">ID</th>
        <th>Имя</th>
        <th class="table-column-price">Заплатил</th>
        <th class="table-column-small"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let _ of users.controls; index as i">
        <ng-container [formGroupName]="i">
          <td class="table-column-small">#{{_.value.id}}.</td>
          <td>
            <mat-form-field class="input">
              <input matInput formControlName="name">
            </mat-form-field>
          </td>
          <td class="table-column-price">
            <mat-form-field class="input">
              <input matInput type="number" min="0" max="100000" formControlName="bankSum">
            </mat-form-field>
          </td>
          <td class="table-column-small">
            <button type="button" mat-icon-button color="warn" (confirm)="delete(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <div>
      <button type="button" mat-raised-button (click)="add({name: 'Иван', bankSum: 0})">Add user</button>
    </div>
  </div>
</ng-container>
